.loginformOuterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginformInnerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginOuterContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #062948;
}

.loginInnerContainer{
    width: 80%;
    padding: 50px 50px;
    margin: 120px 120px;
    background-color: #f7f0f0;
}
.loginNaarInlog{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #002855;
    font-size: 22px;
}

.loginTitel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 10px;
    color: #002855;
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.loginButtonContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 30px;
}

.loginButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #062948;
    color: #f7f0f0;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    border: #860E0E;
    padding: 8px 24px;
    margin: 60px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.2);
}

.loginButton:focus, .loginButton:hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #860E0E;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    border: #062948;
    padding: 8px 24px;
    margin: 60px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.5);
}

.inlogLink{
    font-weight: bolder;
    padding-left: 4px;
    padding-right: 4px;
}

.inlogLink{
    color: #860E0E
}

.loginImg{
    box-sizing: border-box;
    display: block;
    height: auto;
    padding-bottom: 75px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 100%;
}

.inlogCheckbox{
    color: #062948;
    margin: 20px 40px 15px 50px;
}